
.en-dientes{
    background-color: rgb(196, 246, 242);
    font-style: normal;
    font-family:'Poppins', sans-serif ;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 8px;
    padding: 10px;
}

.div-gen-evento{
    background-color: rgb(146, 239, 210);
    padding: 50px;
    display: flex;
    flex-direction: row;

        .tipoevent{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        background-color: rgb(178, 185, 185);
        margin: 13px;
        padding: 13px;
        border: 1px solid rgb(41, 40, 40);

            .niveldefiesta{
                font-family:'Poppins', sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                text-align: center;
                line-height: 25px;
                letter-spacing: 1px;
                word-spacing: 3px;
                text-transform: uppercase;
                color: rgba(251, 108, 108, 0.813);
            }
        }

    } 


